/* NAVBAR*/

.navt {
    width: 950px;
    height: 2cm;
    display: table;
    margin-top: 1cm;
    overflow: hidden;
    margin-right: 4cm;
}

.navt li {
    line-height: 46px;
    text-align: center;
    float: right;
    display: table-cell;
    padding-left: 0.75cm;
}

.navt .menu {
    float: left;
}

.links {
    color: lightgrey;
    text-decoration: none;
    font-size: 13px;
}


/* SIGN IN SECTION*/

.signinPic {
    background-image: url("http://csci571.com/hw/hw3/images/lawyer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1080px;
    height: 650px;
    overflow: hidden;
    display: block;
}

.signupBox {
    background-color: #04345c;
    height: 10cm;
    width: 9cm;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 3cm;
    margin-left: 2cm;
    margin-top: 3.5cm;
}

.signupBox>div {
    text-align: left;
    padding: 5px 0;
    margin: 0.75cm;
}


/*AMAZING FEATURES*/

.grid-container {
    display: grid;
    grid-template-columns: 9.5cm 9.5cm 9.5cm;
    background-color: white;
    padding-left: 0.4cm;
    width: 1080px;
    height: 10cm;
    grid-gap: 0.1cm;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.grid-container>div {
    background-color: white;
    text-align: left;
    padding: 5px 0;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.7cm;
    color: grey;
    font-weight: 600;
}


/*FOUNDER WORDS*/

.founder {
    height: 8cm;
    width: 1080px;
    display: table;
    text-align: center;
    background-color: #f5f5f5;
}

.founder>p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


/* PACKS*/

.packs {
    background: url("http://csci571.com/hw/hw3/images/glasses.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1500px 825px;
    background-position: bottom;
    width: 1080px;
    filter: grayscale(90);
    height: 650px;
    opacity: 0.3;
    display: inline-block;
    overflow-x: hidden;
    grid-gap: 0.75cm;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}

.pack-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-left: 4cm;
    margin-top: 4cm;
    grid-column-gap: 4cm;
}

.block-div {
    width: 100%;
    margin-bottom: 8.2cm;
}

.grid-tint {
    background-color: white;
    height: 11cm;
    width: 7cm;
    opacity: 1;
    position: absolute;
    z-index: -1;
    display: grid;
}

.grid-pic {
    /*background: linear-gradient(to right, #0f3761aa, #0f3761aa), url("images/notebook.jpg") no-repeat top center;*/
    mix-blend-mode: multiply;
    background: url("http://csci571.com/hw/hw3/images/grid.png") no-repeat top center;
    text-align: center;
    background-color: white;
    background-size: 100% 100%;
    font-size: 10px;
    width: 7cm;
    height: 11cm;
    opacity: 0.2;
    justify-items: center;
    align-items: center;
    display: grid;
    z-index: 1;
    position: relative;
    /*filter: contrast(100%) brightness(120%);*/
}

.grid-temp {
    position: relative;
    z-index: 1;
    justify-items: center;
    align-items: center;
    display: grid;
}

.grid-text {
    text-align: center;
    color: black;
    line-height: 1.6;
}


/*----------------------------------------------------------------*/


/*TINTED BACKGROUND*/

.tint {
    background-color: #04345c;
    min-height: 507px;
    opacity: 0.85;
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -1;
    filter: brightness(140%);
}

.freeTrial {
    /*background: linear-gradient(to right, #0f3761aa, #0f3761aa), url("images/notebook.jpg") no-repeat top center;*/
    background-image: url("http://csci571.com/hw/hw3/images/notebook.jpg");
    min-height: 507px;
    background-repeat: no-repeat;
    background-size: 100% 130%;
    width: 100%;
    height: 80%;
    opacity: 0.8;
    mix-blend-mode: multiply;
    text-align: center;
    background-position: center bottom;
    overflow: hidden;
}

.grid-glasses {
    position: relative;
    z-index: 1;
    justify-items: center;
    align-items: center;
    display: grid;
}

.text-glasses {
    text-align: center;
    color: whitesmoke;
    line-height: 1.6;
}

.block-glasses {
    display: block;
    margin-top: 1.9cm;
}


/* FOOTER*/

.footer {
    height: 7cm;
    width: 100%;
    display: table;
    text-align: center;
    background-color: #232a31;
    margin-top: 189px;
}

.footer>p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: whitesmoke;
}